<article class="contenedor1">
  <div class="Skill">
    <div class="btn-edit" onclick=""><a href="#" class="btn-right"><i class="fas fa-plus"></i></a>
    </div>
    <h3>Skills</h3>
    <div class="Hardskills">
      <h4>Hard-skills</h4>
      <ul class="Skills">
        <li *ngFor="let hardskill of HardskillList">
          <p>{{hardskill.name}}</p>
          <div class="Barra">
            <div class="progress progress-striped">
            <div class="progress-bar progress-bar-striped" id="bar" role="progressbar" [style.width]="hardskill.percentage+'%'" attr.aria-valuenow={{hardskill.percentage}} aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            
            <div class="borrar-editar">
              <div class="btn-edit" onclick=""><a href="#" class="btn-right"><i class="fas fa-trash"></i></a></div>
              <div class="btn-edit" onclick=""><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
            </div>
          </div>
        </li>  
      </ul>  
    </div>
    
    <div class="Hardskills">
     <h4>Soft-skills</h4>
     <ul class="Skills">
       <li *ngFor="let softskills of SoftskillList">
          <p>{{softskills.name}}</p>
          <div class="Barra">
            <div class="progress progress-striped">
            <div class="progress-bar progress-bar-striped" id="bar" role="progressbar" [style.width]="softskills.percentage+'%'" attr.aria-valuenow={{softskills.percentage}} aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            
            <div class="borrar-editar">
              <div class="btn-edit" onclick=""><a href="#" class="btn-right"><i class="fas fa-trash"></i></a></div>
              <div class="btn-edit" onclick=""><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
            </div>
          </div>
        </li>
      </ul>
    </div>  

      
  </div>	
</article>