<article class="contenedor1">
  <div class="experiencia-laboral">
    <app-add-experiencia (onAddExperiencia)="addExperiencia($event)"></app-add-experiencia>
    
    <h3>Experiencia</h3>
      <ul class="posiciones">
      <li *ngFor="let experiencia of experienciaLista">
        <div class="data-container">
          <a href="#">
            <div class="logo-image-container">
              <img class="logo-image" [src]="experiencia.img" alt="Logo {{experiencia.institution}}">
            </div>
            <div class="list-info">
              <h4>{{experiencia.position}} en <b>{{experiencia.institution}}</b></h4>
              <p><time>{{experiencia.start_year}}</time> - <time>{{experiencia.end_year}}</time></p>
              </div>
          </a>
        <div class="editar">
          <div class="btn-edit" (click)="onDeleteExp(experiencia)"><a href="#" class="btn-right"><i class="fas fa-trash"></i></a></div>
          <div class="btn-edit" (click)="actualizarExp(experiencia)"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
        </div>
        </div>
        <br clear>
      </li>
    </ul>
  </div>

</article>


<article class="contenedor1">
  <div class="educación">
    <app-add-edu (onAddEducacion)="addEducacion($event)"></app-add-edu>
     
    <h3>Educación</h3>
      <ul class="carreras">
      <li *ngFor="let educacion of educacionLista">
        <div class="data-container">
          <a href="#">
            <div class="logo-image-container">
              <img class="logo-image" [src]="educacion.img" alt="Logo {{educacion.institution}}">
            </div>
            <div class="list-info">
              <h4>{{educacion.title}} en <b>{{educacion.institution}}</b></h4>
              <p><time>{{educacion.start}}</time> - <time>{{educacion.end}}</time></p>
              </div>
          </a>
        <div class="editar">
          <div class="btn-edit" (click)="onDeleteEducacion(educacion)"><a href="#" class="btn-right"><i class="fas fa-trash"></i></a></div>
          <div class="btn-edit" onclick=><a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
          </div>  
        </div>
        </div>
        <br clear>
      </li>
    </ul>
  </div>

  <div>
    <input id="edit-skill" type="text" oninput="myFunction2(this.value)" style="display:none">
  </div>
</article>