<header>
    <img id="logo-argpro" src="../assets/Argentina programa.jpg" alt="logo del programa">
    <div class="buttons">
      <a href="https://twitter.com/JWalkiria" class="fab fa-twitter"></a>
      <a href="https://www.linkedin.com/in/julieta-walker-46279391/" class="fab fa-linkedin" target="blank"></a>
      <a href="https://www.instagram.com/julieta.walker/" class="fab fa-instagram"></a>
      <a href="https://www.facebook.com/julieta.walker" class="fab fa-facebook"></a>
      <a href="Log in.html" class="btn btn-primary">Ingresar </a>
    </div>
  </header>
  
  <article class="Primer-cuadro">
    <div id="profil-background"><img src="../assets/Fondo portada.jpg" alt="Foto portada" ></div>
    
    <div class="portada">
      <div class="info-imag">
        <img id="profile-image" [src]=Persona[0].img_profile alt="Foto Perfil" width=150px height=150px>
        <div class="btn-edit" id="actualizarfoto" onclick="CambiarFotoPerfil()"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
        </div>
      </div>
  
      <div><input id="edit-foto" type="file" onchange="showFile(this)" style="display:none">
      </div>
  
      <div class="info-personal">
        <h1><div id="Nombre">{{Persona[0].name}} </div><div id="Apellido">{{Persona[0].lastname}}</div></h1>
        <div><h3 id="PosicionActual">{{Persona[0].position}}</h3></div>
        <div>{{Persona[0].address.city}} ({{Persona[0].address.country}}) </div>
      </div>
    </div>
  </article>
