/* You can add global styles to this file, and also import other style files */
/*Estilos del proyecto integrador*/

html {
  font-size: 16px; /* px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 10 píxeles de altura */
  font-family: "Open Sans", sans-serif; /* Este debe ser el resto del resultado que obtuviste de Google fonts */
display: block;
}

header{
  position:relative;
  }

body {
  width: 900px;
  margin: 0 auto;
  padding: 5px 20px 20px 20px;
  border: 2px solid black;
  border-radius: 5px;
}
#logo-argpro{
  border-radius:10px;
  width:10%;
  padding: 5px 0px 5px 0px;
  float:left;
  position:relative;
}

.btn-edit i{
  color:black;
  size: 25px;
  margin-left: 10px;
}


.Primer-cuadrado{
  width: 900px;
  position:relative;
}

#profile-image{
  border-radius:150px;
  position: relative;
  bottom: 40px;
  left:15px;
  float:left;
  }

#profil-background img{
    height: 200px; 
    width: 850px; 
    border-radius:10px;
 }
   
.info-personal{
  border-radius: 5px;
  float:left;
  margin: 0% 3%;
  bottom:20px;
}

.contenedor1{
  clear:both;
  border: 1.4px solid rgba(81, 63, 247, 0.788);
  background-color: rgb(220, 220, 235);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 5px;
  position: relative;
  width:100%;
 }

.contenedor1 .btn-edit{
  float:right;
  padding-bottom: 0%;
}

.contenedor1 p,ul{
  margin-bottom: 0px;
}
.experiencia-laboral{
   position: relative;
}

h1 {
  display:inline-block;
  margin: 0;
  padding: 10px 0;
  color: lightslategrey;
  text-shadow: 1px -1px 1px black; 
  /*Primer valor en píxeles: asigna el desplazamiento horizontal de la sombra desde el texto —qué tan lejos la mueve a la derecha—. Un valor negativo la moverá a la izquierda.
El segundo valor en píxeles asigna el desplazamiento vertical de la sombra desde el texto —qué tan lejos la mueve hacia abajo—. En este ejemplo, un valor negativo la desplazaría hacia arriba.
El tercer valor en píxeles asigna radio de desenfoque de la sombra —un valor grande es igual a una sombra borrosa—.
El cuarto valor asigna el color base de la sombra.*/
}

h1 div{
  display: inline-block;
  margin-right: 10px;
 }

h3{font-style: italic;
margin-bottom: 15px;
}

h4{
  color:rgba(81, 63, 247, 0.788);
  }

 .Skills h4{
  padding-left: 15px;
}