<article class="contenedor1">
  <div class="Proyectos">
    <div class="btn-edit" onclick=""><a href="#" class="btn-right"><i class="fas fa-plus"></i></a></div>
    <h3>Proyectos</h3>
    <div class="tituloProyectos">
      <div class="borrar-editar">
        <div class="btn-edit" onclick=""><a href="#" class="btn-right"><i class="fas fa-trash"></i></a></div>
        <div class="btn-edit" onclick=""><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
      </div>
      <h4>Proyecto 1</h4>
      <p>Se trabajó en el desarrollo de...
      </p>
    </div>

  </div>	
  
  <div>
    <input id="edit-skill" type="text" oninput="myFunction2(this.value)" style="display:none">
  </div>

</article>